<!DOCTYPE html>
<html>
<head>
	<title>人事管理</title>
	#parse("sys/header.html")

</head>
<body>
<div id="rrapp" v-cloak>
	<!--.container （固定宽度）或 .container-fluid （100% 宽度）-->
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4">
				#if($shiro.hasPermission("sys:organ:all"))
				<button class="layui-btn layui-btn-small" type="button" @click="add"><i class="layui-icon">&#xe61f;</i> 新 增</button>
				<button class="layui-btn layui-btn-danger layui-btn-small" type="button" @click="del"><i class="layui-icon">&#xe640;</i>删 除</button>
				#end
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div style="font-size: 20px;margin-bottom: 10px">
					<i class="layui-icon" style="font-size: 20px; color: #009688">&#xe62e;</i> 组织机构树
				</div>
				<div class="col-sm-10">
					<ul id="organTree" class="ztree"></ul>
				</div>
			</div>
			<table id="jqGrid"></table>
			<div id="jqGridPager"></div>
		</div>
	</div>

</div>


<script src="${rc.contextPath}/statics/js/hr/person.js?_${date.systemTime}"></script>
</body>
</html>