<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>项目介绍</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../statics/css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">
    <div style="padding: 10px 0 20px 10px;">
        <h3>项目介绍</h3>
        <ul>
            <li>起航高科OA办公系统，采用流行的框架springMvc+spring+mybatis+shiro+ehcache开发,还集成了权限管理（菜单权限、</br>
                数据权限），完善的代码生成器，solr全文搜索引擎，activiti工作流程引擎，cas单点登陆等功能，后期还会考虑改造成Dubbo微</br>
                服务化,做到模块的相对独立，使用更加灵活，努力做到快速开发OA办公系统。
            </li>
        </ul>
        <h3>项目地址</h3>
        <ul>
            <li>项目demo:<a href="http://47.95.234.81:8090/frame-admin/" target="_blank">http://47.95.234.81:8090/frame-admin/</a> 帐户/密码:hxy/a</li>
            <li>Git地址：<a href="https://github.com/huangxianyuan/hxyFrame.git" target="_blank">https://github.com/huangxianyuan/hxyFrame.git</a></li>
            <li>oschina地址：<a href="https://git.oschina.net/huangxianyuan/hxyFrame.git" target="_blank">https://git.oschina.net/huangxianyuan/hxyFrame.git</a></li>
        </ul>
        <h3>阿里云免费链接</h3>
        <ul>
            <li><a href="https://promotion.aliyun.com/ntms/act/ambassador/sharetouser.html?userCode=iojccsu7&utm_source=iojccsu7" target="_blank">https://promotion.aliyun.com/ntms/act/ambassador/sharetouser.html?userCode=iojccsu7&utm_source=iojccsu7</a></li>
        </ul>
    </div>
</div>
</body>
</html>